@use "../vars" as *;
@use "breakpoints";

@mixin placeholder {
  /* stylelint-disable */
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  /* stylelint-enable */
}

@mixin font($size: 16px, $line-height: 1.5, $weight: 400) {
  font-family: $font-family-base;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin padding-v($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin padding-h($right, $left: $right) {
  padding-right: $right;
  padding-left: $left;
}

@mixin container() {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 var(--offset);
}

@mixin expand_over_container_width() {
  width: calc(100% + var(--offset) * 2);
  margin-left: calc(-1 * var(--offset));
  margin-right: calc(-1 * var(--offset));
}

@mixin element-state($withFocusOnMobile: true, $withFocusOnDesktop: true) {
  &:active,
  &.active {
    @content;
  }

  &:focus-visible {
    @content;
    outline-color: $gray-300;
    outline-offset: 2px;
  }

  @if $withFocusOnMobile {
    &:focus {
      @content;
    }
  }

  @include breakpoints.desktop {
    &:hover {
      @content;
    }

    @if $withFocusOnMobile == false and $withFocusOnDesktop == true {
      &:focus {
        @content;
      }
    }
  }
}

@mixin extend-element-area($area: 8px, $addPosition: true) {
  @if $addPosition {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: -#{$area};
    right: -#{$area};
    bottom: -#{$area};
    left: -#{$area};
  }
}

@mixin text-block-height($linesCount: 2, $lineHeight: 1.15, $isMaxHeight: false) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $linesCount;
  -webkit-box-orient: vertical;
  line-height: $lineHeight;
  @if $isMaxHeight {
    max-height: calc(1em * #{$lineHeight} * #{$linesCount});
  } @else {
    height: calc(1em * #{$lineHeight} * #{$linesCount});
  }
  overflow: hidden;
}

@mixin online-status($color: $green) {
  &::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    @include square(8px);
    margin-left: 2px;
    background-color: $color;
    border-radius: 50%;
  }
}
