@mixin list($item_space: 0, $align-start: false) {
  display: flex;
  flex-direction: column;
  @if $align-start {
    align-items: flex-start;
  }
  gap: $item_space;
}

@mixin list_nowrap() {
  flex-wrap: nowrap;
}

@mixin horizontal_list($item_space: 0) {
  display: inline-flex;
  flex-wrap: wrap;
  gap: $item_space;
}

@mixin horizontal_list_item() {
  width: fit-content;
  flex-shrink: 0;
}

@mixin horizontal_list_reverse($item_space: 0) {
  @include horizontal_list($item_space);
  flex-direction: row-reverse;
}

@mixin grid-columns($space: 0, $horizontalSpace: $space) {
  display: grid;
  gap: $space $horizontalSpace;
  grid-template-columns: repeat(var(--cols-count), minmax(0, 1fr));
}
