@use "../utils/mixins/elements" as *;

.accordion {
}

.accordion__item {
  overflow: hidden;
}

.accordion__header {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.accordion__arrow {
  @include square(24px);
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.accordion__content {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.accordion__item.active .accordion__content {
  height: auto;
}

.accordion__item.active .accordion__arrow {
  transform: rotate(180deg);
}
