@use "../utils/vars" as *;
@use "../utils/templates" as *;
@use "../utils/mixins/elements" as *;
@use "../utils/mixins/breakpoints" as *;
@use "../utils/functions" as *;

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.checkbox--list,
.checkbox--reversed {
  flex-direction: row-reverse;
}

.checkbox__input {
  @extend %visually-hidden;
}

.checkbox__mark {
  display: inline-block;
  color: $primary-color;
  @include square(24px);
  flex-shrink: 0;
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.checkbox__mark--radio {
  border-radius: 50%;
  border: 2px solid $gray-400;
  transition: border 50ms ease;
}

.checkbox__mark-icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.checkbox__label-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: rem(14);
  line-height: 1.4;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease-in-out;

  &:focus {
    background-color: $gray-100;
  }

  @include desktop {
    &:hover {
      background-color: $gray-100;
    }
  }
}

.checkbox__input:checked ~ .checkbox__mark {
  border-color: $primary-color;

  &.checkbox__mark--radio {
    border: 7px solid $primary-color;
  }
}

.checkbox__input:checked ~ .checkbox__mark .checkbox__mark-icon {
  opacity: 1;
}

.checkbox__input:checked ~ .checkbox__label-chip {
  background-color: $gray-300;
}

.checkbox__input:disabled ~ .checkbox__mark,
.checkbox__input:disabled ~ .checkbox__label-chip {
  color: $gray-300;
  background-color: $gray-200;
  border-color: $gray-300;
}

.checkbox--list .checkbox__label {
  flex-grow: 1;
}

.checkbox--size-s .checkbox__mark {
  @include square(18px);
}

.checkbox--size-l .checkbox__label-chip {
  font-size: rem(16);
  line-height: 1.5;
  @include padding-v(7px);
}

.checkbox--error {
  .checkbox__mark,
  .checkbox__label-chip {
    border-color: $red-200;
  }
}
