@use "../utils/vars" as *;
@use "../utils/mixins/elements" as *;
@use "../utils/functions" as *;
@use "../utils/templates" as *;

@mixin bold-border() {
  border-width: 2px;

  .text-input__input {
    padding-bottom: 7px;
  }

  &.text-input__field--size-s .text-input__input {
    padding-bottom: 4px;
  }

  &.text-input__field--size-l .text-input__input {
    padding-bottom: 10px;
  }
}

.text-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 350px;
  max-width: 100%;
}

.text-input--wide {
  width: 100%;
}

.text-input__field {
  --padding-top: 9px;
  --padding-bottom: 8px;
}

.text-input__field,
.text-input__input {
  width: 100%;
}

.text-input__field {
  position: relative;
  display: inline-flex;
  @include padding-h(2px);
  background-color: $white;
  border-bottom: 1px solid $gray-300;
  transition: border-bottom-color 0.3s ease;
}

.text-input__icon,
.text-input__clear {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.text-input__input {
  padding: var(--padding-top) 0 var(--padding-bottom);
  background-color: transparent;
  border: none;
  border-radius: $border-radius;
  outline: none;
  transition: padding-left 0.3s ease;

  @include placeholder {
    color: $gray-400;
  }
}

.text-input__textarea {
  width: 100%!important;
  min-height: calc(var(--padding-top) + var(--padding-bottom) + 3em * 1.5);
  max-height: calc(var(--padding-top) + var(--padding-bottom) + 10em * 1.5);
}

.text-input__field--size-s {
  --padding-top: 6px;
  --padding-bottom: 5px;
}

.text-input__field--size-l {
  --padding-top: 12px;
  --padding-bottom: 11px;

  .text-input__input {
    @include padding-h(2px);
  }
}

.text-input__icon {
  left: 2px;
  @include square(20px);
  transition: opacity 0.3s ease;
}

.text-input__clear {
  right: 2px;
  @extend %clear-button;
  @include square(16px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.text-input__icon + .text-input__input {
  padding-left: 30px;
}

.text-input__hint {
  font-size: rem(14);
  line-height: 1.4;
  color: $gray-400;
  @include padding-h(2px);
}

.text-input__field.focussed {
  border-color: $gray-500;

  @include bold-border();
}

.text-input__field--clearing .text-input__input {
  padding-right: 20px;
}

.text-input__field.active {
  .text-input__input {
    padding-left: 0;
  }

  &.text-input__field--size-l .text-input__input {
    padding-left: 2px;
  }

  .text-input__icon {
    opacity: 0;
  }

  .text-input__clear {
    pointer-events: initial;
    opacity: 1;
  }
}

.text-input__field.error {
  @include bold-border();
  border-color: $red-200;

  ~ .text-input__hint {
    color: $red-200;
  }
}

.text-input__field--gray {
  background-color: $gray-100;
}

.text-input__field--transparent {
  background-color: $white-10;
  border-color: $white-80;

  &.focussed,
  &.error {
    border-color: $white;
  }

  &.text-input__field.active {
    @include bold-border();

    .text-input__input,
    .text-input__icon + .text-input__input {
      padding-left: 8px;
    }
  }

  .text-input__icon {
    left: 8px;
  }

  .text-input__input {
    color: $gray-100;
    @include padding-h(8px);

    @include placeholder {
      color: $gray-100;
    }
  }

  &.text-input__field--clearing .text-input__input {
    padding-right: 26px;
  }

  .text-input__icon + .text-input__input {
    padding-left: 36px;
  }

  .text-input__clear {
    right: 8px;
    color: $gray-400;
  }

  & ~ .text-input__hint {
    color: $gray-300;
  }
}

.text-input__field--padding {
  &.text-input__field.active {
    .text-input__input,
    .text-input__icon + .text-input__input {
      padding-left: 16px;
    }
  }

  .text-input__icon {
    left: 16px;
  }

  .text-input__input {
    @include padding-h(16px);
  }

  &.text-input__field--clearing .text-input__input {
    padding-right: 34px;
  }

  .text-input__icon + .text-input__input {
    padding-left: 44px;
  }

  .text-input__clear {
    right: 16px;
  }
}

.text-input__field--search {
  .text-input__clear {
    @include square(24px);
  }
}
