@use "../utils/vars" as *;
@use "../utils/mixins/elements" as *;
@use "../utils/mixins/breakpoints" as *;
@use "../utils/templates" as *;

#app {
  min-height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  @extend %container;
}

.visually-hidden {
  @extend %visually-hidden;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @extend %overlay-bg;
  transition: opacity 0.3s ease-out;
}

@include mobile-max {
  .hide-mobile {
    display: none !important;
  }
}

@include tablet-max {
  .hide-tablet {
    display: none !important;
  }
}

@include desktop {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: #{$desktop-m - 1px}) {
  .hide-desktop-s {
    display: none !important;
  }
}

@media (max-width: #{$desktop-l - 1px}) {
  .hide-desktop-m {
    display: none !important;
  }
}
