@use "../utils/vars" as *;
@use "../utils/mixins/breakpoints" as *;
@use "../utils/mixins/elements" as *;

%link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;

  @include element-state(false, false) {
    color: $gray-400;
  }
}

%link--underline {
  text-decoration: underline;
}

%link-gray {
  color: $gray-300;

  @include element-state() {
    color: $white;
  }
}

.link,
a {
  @extend %link;
}

.link--gray {
  @extend %link-gray;
}

.link--underline {
  @extend %link--underline;
}
