@use "../utils/vars" as *;
@use "../utils/mixins/breakpoints" as *;
@use "../utils/mixins/elements" as *;
@use "../utils/mixins/grids" as *;
@use "../utils/svg-sprite" as *;

.options-list {
  @include list();
  width: 100%;
}

.options-list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 40px 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @include element-state {
    background-color: $gray-100;
  }
}

.options-list-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  @include square(24px);
  transform: translate3d(0, -50%, 0);
}

.options-list-item.active {
  background-color: $gray-200;
}
.options-list-item.focused {
  background-color: $gray-100;
}

.options-list-item.active::after {
  @include sprite("ic_check");
}

.options-list-item:not(:first-of-type):before {
  content: "";
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  height: 1px;
  background-color: $gray-100;
}

.options-list-item__mark {
  display: inline-block;
  @include square(24px);
  opacity: 0;
}

.options-list-item__mark {
  display: none;
}
